<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Language" content="pt-br" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rádio Terra Nativa FM</title>
<link rel="stylesheet" type="text/css" href="estilo.css" />
</head>

<body>

<div id="conteudo">

<div id="topo">   
<object id="SEUID" name="NOMEDOOBJ" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="1000" height="200">
<param name="movie" value="logo_topo.sf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<param name="wmode" value="transparent" />
<param name="menu" value="false">
<embed id="SEUID" name="NOMEDOOBJ" wmode="transparent" menu="false" src="logo_topo.swf" quality="high" bgcolor="#ffffff" width="964" height="164" name="barra" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>

</div>
</body>

</html>
